.example-container {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 1px solid #555;
  }
  
  .header {
    padding: 10px 20px;
    padding-left: 7px;
    background: rgb(212, 42, 93);
    color: #fff;
  }

  .main_content {
    width:100%; 
    height: calc(100vh - 100px); 
    background: #efefef;
  }